/* CSS DOCUMENT */

body{
	background-color: black;
	color: white;

}
#canvas{
	width: 226px;
	height: 225px;
	border: solid white;

	padding-bottom: 20px;
	padding-top: 20px;
	border-radius: 50px;
}
.Button{
background-color: transparent;
color: white;
margin-top: 10px;
}
